/Week01/Example 1/nbproject/private/
/Week01/Example 1/build/
/Week01/Example2/nbproject/private/
/Week01/Example2/build/
/Week01/MyHeightGUI/nbproject/private/
/Week01/MyHeightGUI/build/
/Observer practice/dist/